*{
    margin: 0%;
    border: 0%;
}

/* .margin{
    background-color: orange;
    width: 100vw;
    height: 100vh;
}
.margin .border{
    background-color: yellow;
    width: 100%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    width: 95%;
    height: 95%;
    margin-left: 20px;
} */

.image{
    background-image: url(../images/nature-photo.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 30px 0px 30px 0px;
}

.content{
    background-color: aqua;
    margin: 20px;
}

.pading{
    background-color: green;
    margin: 20px;
}

.border{
    background-color: yellow;
    margin: 20px;
}

.margin{
    background-color: orange;
}